table{ 
    width: 100%;
    border-collapse: collapse;

}

th, td { 
    border: 1px solid black;
    text-align: center; 
    padding: 8px;
    background-color: rgb(0, 255, 249)
     }

     th{ 
        background-color: aliceblue;
     }